body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.output {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.missing {
    text-decoration: line-through;
    color: red;
}
